<nav class="bg-darker text-white py-4 px-6 sticky top-0 z-50 shadow-xl">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
        
        <div class="flex items-center gap-8">
            <a href="/" class="text-2xl font-black tracking-tighter flex items-center gap-2">
                <span class="bg-primary p-1 px-3 rounded text-white">TASTY</span>
            </a>
            
            <div class="hidden md:flex gap-8 font-medium">
                <a href="/" class="hover:text-primary transition-colors">Home</a>
                <a href="#" class="hover:text-primary transition-colors">Explorar</a>
                <a href="#" class="hover:text-primary transition-colors">Meus Matches</a>
            </div>
        </div>

        <div class="flex gap-4 items-center">
            <a href="/auth/login" class="text-gray-300 hover:text-white font-bold">Entrar</a>
            <a href="/auth/register" class="bg-primary hover:bg-primary-dark px-5 py-2 font-bold rounded-xl transition-all">Criar Conta</a>
        </div>
        
    </div>
</nav>